.profile-container {
    padding: 0 2rem 0 4.5rem;
}

.p-tittle {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.p-content {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-content img {
    max-width: 60%;
    height: auto; 
    border-radius: 8px; 
    object-fit: cover;
}

/*Redes sociales*/
.contacts-profile {
    margin-top: 1rem;
    display: flex;
    gap: .8rem; 
}

.social-button {
    text-decoration: none;
    color: white;
    background-color: #444;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espaciado entre el ícono y el texto */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-button:hover {
    background-color: var(--ter); /* Cambia el color al pasar el mouse */
    color: black;
}

.social-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: currentColor; 
}
/*End Redes Sociales*/