.profile-container {
    padding: 0 1rem 0 2.5rem;
    box-sizing: border-box;
    max-width: 100%;
}

.p-tittle {
   text-transform: uppercase;
    font-size: 1rem;
}

.profile-container img {
    max-width: 60%;
}

.p-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0 1rem .5rem;
    font-size: large;
}

/*
REDES SOCIALES 
*/
.contacts-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.social-button {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    background-color: #444444;
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 700;
    justify-content: center;
    flex: 1 1 2rem;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #555555;
}

.social-icon{
    width: 2rem;
    height: 2rem;
}