.experiencies-container {
    padding: 0 1rem 0 2.5rem;
    display: flex;
}

.e-tittle {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.experiences img {
    max-width: 70%;
    display: block;
    margin: 0 auto 1.5rem auto;
}

.e-name {
    font-size: 1rem;
    font-weight: bold;
}

.experience-right .e-role, .e-date {
    color: var(--ter);
    font-size: 9rem;
}
.experience-right .e-role {
    font-weight: bold;
    font-size: 1rem;
}

.experience p {
    font-size: .9rem;
    line-height: 1.2rem;
}

.experiences {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.experience {
    position: relative;
    padding-bottom: 1.5rem;
}

.experience::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, var(--ter), white);
    border-radius: 5px;
}

/*BIG SCREEN*/
@media (min-width: 768px) {
    .experiencies-container {
        padding: 0 0 0 20%;
    }

    .experiences {
        flex-direction: column;
        gap: 3rem
    }

    .experience {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .experiences img {
        max-width: 15rem;
        display: block;
        margin: 0 auto 1.5rem auto;
    }
}