:root {
  --primary: rgb(42, 44, 59);
  --secondary: rgb(35, 37, 50);
  --ter: #39FF14;
}

body {
  font-family: "Exo 2", serif;
}

/*MAIN*/
.app-container {
  display: flex;
}

.content {
  margin-left: 240px; /* Desplaza el contenido a la derecha del menú */
  width: calc(100% - 240px);
  padding: 30px;
  min-height: 100vh;
  overflow-y: auto;
}



